<div class="comment-wrapper">
    <button id="close-comments">close</button>
    <div id="comment-list"></div>
    <form action="/comment/add" method="post" class="comment-form">
        <input type="text" name="content" required>
        <input type="hidden" name="id_post" required>
        <button type="submit" class="submit">Send</button>
    </form>
</div>
