<div class="footer">
    <button>
        <i class="fa-regular fa-square-plus"></i>
    </button>
    <button>
        <i class="fa-solid fa-house"></i>
    </button>
    <button>
        <i class="fa-regular fa-user"></i>
    </button>
</div>