<div class="footer navbar">
    <a class="icon" id="add_post" href="/addPost">
        <i class="fa-regular fa-square-plus"></i>
    </a>
    <a class="icon" id="feed" href="/feed">
        <i class="fa-solid fa-house"></i>
    </a>
    <a class="icon" id="profile" href="/profile">
        <i class="fa-regular fa-user"></i>
    </a>
</div>