<div class="footer navbar">
    <button class="icon" id="add_post">
        <i class="fa-regular fa-square-plus"></i>
    </button>
    <button class="icon" id="feed">
        <i class="fa-solid fa-house"></i>
    </button>
    <a class="icon" id="profile" href="/profile">
        <i class="fa-regular fa-user"></i>
    </a>
</div>