<div class="header navbar">
    <a class="icon" id="chat" href="/message">
        <i class="fa-regular fa-paper-plane"></i>
    </a>
    <img id="logo" src="/img/Logo.png"></img>
    <a class="icon" id="notifications">
        <i class="fa-regular fa-bell"></i>
    </a>
</div>