version: "3"

services:
    web:
        container_name: ${PROJECT_NAME}-web
        image: node
        volumes:
            - .:/app:rw
        depends_on:
            - database
        ports:
            - ${WEB_EXTERNAL_PORT}:3000
        command: ["npm", "run", "${ENVIRONMENT}", "--prefix", "/app"]
    database:
        container_name: ${PROJECT_NAME}-database
        image: mysql
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        ports:
            - ${MYSQL_PORT}:3306
        volumes:
            - ./var-lib-mysql:/var/lib/mysql:rw
    phpmyadmin:
        container_name: ${PROJECT_NAME}-phpmyadmin
        image: phpmyadmin/phpmyadmin:latest
        links:
            - database
        ports:
            - 8080:80
        hostname: phpmyadmin
        restart: always
        environment:
            PMA_HOST: ${MYSQL_HOST}
            PMA_USER: root
            PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
