<div class="card white_shadow add_post">
    <h1><%- title %></h1>
    <form method="POST">
        <label for="data_path">Picture</label>
            <input type="text" name="data_path" id="post" required>
        <label for="description">Description</label>
            <input type="text" name="description" id="description">
        <div class="form_bottom">
            <button class="submit" type="submit">Add post</button>
        </div>
    </form>
</div>