<h1><%- title %></h1>
<a href="/message/new">New conversation</a>
<div class="conversation-wrapper">
    <% for(conversation of conversations) { %>
    <div class="conversation">
        <div class="participant-wrapper">
            <% for(participant of conversation.users) { %>
            <div class="participant">
                <%- participant.firstname %> <%- participant.lastname %>
            </div>
            <% } %>
        </div>
        <a href="/message/<%- conversation.id_conversation %>">Go</a>
    </div>
    <% }; %>
</div>
