<div class="message-wrapper">
    <% for(message of messages) { %>
    <div class="message <%- isMessageOwner(message) ? "me" : "other" %>-message">
        <div class="datetime">
            <div class="date">
                <%= formatDate(message.date) %>
            </div>
            <div class="time">
                <%= formatTime(message.date) %>
            </div>
        </div>
        <div class="content"><%- message.content %></div>
    </div>
    <% } %>
</div>
<form method="post" id="send-message">
    <input type="text" name="message" placeholder="Message" />
    <button type="submit">Send</button>
</form>
