<div class="card white_shadow conversation_list">
    <h1><%- title %></h1>
    <div id="new_conversation">
        <a href="/message/new">
            <button id="new_conversation_button">
                New conversation
            </button>
        </a>
    </div>
    <br>
    <hr>
    <div>
        <% for(conversation of conversations) { %>
        <div class="conversation">
            <div class="participant-wrapper">
                <% for(participant of conversation.users) { %>
                <div class="participant">
                    <%- participant.firstname %> <%- participant.lastname %>
                </div>
                <% } %>
            </div>
            <a href="/message/<%- conversation.id_conversation %>">Go</a>
        </div>
        <% }; %>
    </div>
</div>
