<div class="feed">
    <div class="post white_shadow">
        <div class="top">
            <img src="" alt="">
            <label>Nom Prénom</label>
            <button class="icon" id="options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="content">
            <img class="white_shadow" src="https://images.beautybay.com/eoaaqxyywn6o/MART0022F_6f.jpg_s3.lmb_g8dbbh/28afdeace95971d5311aaef3f98e5947/MART0022F_6f.jpg?w=700&fm=jpg&fl=progressive&q=70"/>
            <label id="description" name="" id="" cols="30" rows="10">Appel à tous les dingues de make-up : il faut absolument que vous ajoutiez le rouge à lèvres liquide mat de Martine Cosmetics à votre collection de maquillage. Disponible dans un immense éventail de teintes pour s’adapter à toutes les carnations et à tous les styles, ce rouge à lèvres liquide mat offre une couvrance ultra-pigmentée, anti-transferts et longue tenue qui est confortable à porter tout au long de la journée. Choisissez votre teinte préférée ou collectionnez-les toutes.</label>
        </div>
        <div class="bottom">
            <button class="icon" id="like">
                <i class="fa-regular fa-heart">
                    <label for="">128</label>
                </i>
            </button>
            <button class="icon" id="comment">
                <i class="fa-regular fa-comment">
                    <label for="">15</label>
                </i>
            </button>
            <button class="icon" id="send">
                <i class="fa-regular fa-paper-plane"></i>
            </button>
            <button class="icon" id="save">
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
    </div>
    <div class="post white_shadow">
        <div class="top">
            <img src="" alt="">
            <label>Nom Prénom</label>
            <button class="icon" id="options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="content">
            <img class="white_shadow" src="https://images.beautybay.com/eoaaqxyywn6o/MART0022F_6f.jpg_s3.lmb_g8dbbh/28afdeace95971d5311aaef3f98e5947/MART0022F_6f.jpg?w=700&fm=jpg&fl=progressive&q=70"/>
            <label id="description" name="" id="" cols="30" rows="10">Appel à tous les dingues de make-up : il faut absolument que vous ajoutiez le rouge à lèvres liquide mat de Martine Cosmetics à votre collection de maquillage. Disponible dans un immense éventail de teintes pour s’adapter à toutes les carnations et à tous les styles, ce rouge à lèvres liquide mat offre une couvrance ultra-pigmentée, anti-transferts et longue tenue qui est confortable à porter tout au long de la journée. Choisissez votre teinte préférée ou collectionnez-les toutes.</label>
        </div>
        <div class="bottom">
            <button class="icon" id="like">
                <i class="fa-regular fa-heart">
                    <label for="">128</label>
                </i>
            </button>
            <button class="icon" id="comment">
                <i class="fa-regular fa-comment">
                    <label for="">15</label>
                </i>
            </button>
            <button class="icon" id="send">
                <i class="fa-regular fa-paper-plane"></i>
            </button>
            <button class="icon" id="save">
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
    </div>
    <div class="post white_shadow">
        <div class="top">
            <img src="" alt="">
            <label>Nom Prénom</label>
            <button class="icon" id="options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="content">
            <img class="white_shadow" src="https://images.beautybay.com/eoaaqxyywn6o/MART0022F_6f.jpg_s3.lmb_g8dbbh/28afdeace95971d5311aaef3f98e5947/MART0022F_6f.jpg?w=700&fm=jpg&fl=progressive&q=70"/>
            <label id="description" name="" id="" cols="30" rows="10">Appel à tous les dingues de make-up : il faut absolument que vous ajoutiez le rouge à lèvres liquide mat de Martine Cosmetics à votre collection de maquillage. Disponible dans un immense éventail de teintes pour s’adapter à toutes les carnations et à tous les styles, ce rouge à lèvres liquide mat offre une couvrance ultra-pigmentée, anti-transferts et longue tenue qui est confortable à porter tout au long de la journée. Choisissez votre teinte préférée ou collectionnez-les toutes.</label>
        </div>
        <div class="bottom">
            <button class="icon" id="like">
                <i class="fa-regular fa-heart">
                    <label for="">128</label>
                </i>
            </button>
            <button class="icon" id="comment">
                <i class="fa-regular fa-comment">
                    <label for="">15</label>
                </i>
            </button>
            <button class="icon" id="send">
                <i class="fa-regular fa-paper-plane"></i>
            </button>
            <button class="icon" id="save">
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
    </div>
    <div class="post white_shadow">
        <div class="top">
            <img src="" alt="">
            <label>Nom Prénom</label>
            <button class="icon" id="options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="content">
            <img class="white_shadow" src="https://images.beautybay.com/eoaaqxyywn6o/MART0022F_6f.jpg_s3.lmb_g8dbbh/28afdeace95971d5311aaef3f98e5947/MART0022F_6f.jpg?w=700&fm=jpg&fl=progressive&q=70"/>
            <label id="description" name="" id="" cols="30" rows="10">Appel à tous les dingues de make-up : il faut absolument que vous ajoutiez le rouge à lèvres liquide mat de Martine Cosmetics à votre collection de maquillage. Disponible dans un immense éventail de teintes pour s’adapter à toutes les carnations et à tous les styles, ce rouge à lèvres liquide mat offre une couvrance ultra-pigmentée, anti-transferts et longue tenue qui est confortable à porter tout au long de la journée. Choisissez votre teinte préférée ou collectionnez-les toutes.</label>
        </div>
        <div class="bottom">
            <button class="icon" id="like">
                <i class="fa-regular fa-heart">
                    <label for="">128</label>
                </i>
            </button>
            <button class="icon" id="comment">
                <i class="fa-regular fa-comment">
                    <label for="">15</label>
                </i>
            </button>
            <button class="icon" id="send">
                <i class="fa-regular fa-paper-plane"></i>
            </button>
            <button class="icon" id="save">
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
    </div>
    <div class="post white_shadow">
        <div class="top">
            <img src="" alt="">
            <label>Nom Prénom</label>
            <button class="icon" id="options">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
        <div class="content">
            <img class="white_shadow" src="https://images.beautybay.com/eoaaqxyywn6o/MART0022F_6f.jpg_s3.lmb_g8dbbh/28afdeace95971d5311aaef3f98e5947/MART0022F_6f.jpg?w=700&fm=jpg&fl=progressive&q=70"/>
            <label id="description" name="" id="" cols="30" rows="10">Appel à tous les dingues de make-up : il faut absolument que vous ajoutiez le rouge à lèvres liquide mat de Martine Cosmetics à votre collection de maquillage. Disponible dans un immense éventail de teintes pour s’adapter à toutes les carnations et à tous les styles, ce rouge à lèvres liquide mat offre une couvrance ultra-pigmentée, anti-transferts et longue tenue qui est confortable à porter tout au long de la journée. Choisissez votre teinte préférée ou collectionnez-les toutes.</label>
        </div>
        <div class="bottom">
            <button class="icon" id="like">
                <i class="fa-regular fa-heart">
                    <label for="">128</label>
                </i>
            </button>
            <button class="icon" id="comment">
                <i class="fa-regular fa-comment">
                    <label for="">15</label>
                </i>
            </button>
            <button class="icon" id="send">
                <i class="fa-regular fa-paper-plane"></i>
            </button>
            <button class="icon" id="save">
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
    </div>
</div>