<h1><%- title %></h1>
<form id="loginForm" method="post">
    <div class="fieldset">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="fieldset">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="fieldset">
        <input type="submit" value="Login">
    </div>
</form>
