<div class="card white_shadow login">
    <h1><%- title %></h1>
    <form method="POST">
        <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        <div class="form_bottom">
            <button class="submit" type="submit">Login</button>
            <a href="/register">
                <button id="register" type="button">Create an account</button>
            </a>
        </div>
    </form>
</div>
