<div class="card white_shadow new_conversation">
    <h1><%-title %></h1>
    <form method="POST">
        <label for="user">User</label>
        <select name="user" id="user" required>
            <option value="" select>Select a user</option>
            <% for(user of users) { %>
            <option value="<%- user.id_user %>">
                <%- user.firstname %> <%- user.lastname %>
            </option>
            <% } %>
        </select>
        <button class="submit" type="submit">Start a conversation</button>
    </form>
</div>