<div class="card white_shadow profile">
    <div>
        <img src="" alt="">
        <button class="icon">
            <i class="fa-solid fa-qrcode"></i>
        </button>
    </div>
    <div>
        <label for="">Nom Prénom</label>
    </div>
    <form action="">
        <label for="">Email: </label>
            <input type="text">
        <label for="">Age: </label>
            <input type="number">
        <label for="">Country</label>
            <input type="text">
        <button class="submit" type="submit">Save</button>
    </form>
</div>