<div class="card white_shadow qrcode">
    <h1><%- title %></h1>
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%- qrcode %>&bgcolor=ece4ff&color=4c3b76" alt="qrcode">
</div>
